@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Oswald";
}

.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}